// app global css in SCSS form

#app-light {
  --toolbar-color: #FFFFFF;
  --text-color: #000000;
  --sidebar-color: #FFFFFF;
  --editor-border-color: #4c5b61;
  --results-container-border-color: #4c5b61;
  --results-container-background-color: #FFFFFF;
}

#app-dark {
  --toolbar-color: #1D1D1D;
  --text-color: #FFFFFF;
  --sidebar-color: #4c5b61;
  --editor-border-color: #000000;
  --results-container-border-color: #000000;
  --results-container-background-color: #0A0E14;
}

$toolbar-color: var(--toolbar-color);
$text-color: var(--text-color);
$sidebar-color: var(--sidebar-color);
$editor-border-color: var(--editor-border-color);
$results-container-border-color: var(--results-container-border-color);
$results-container-background-color: var(--results-container-background-color);
